@charset "UTF-8";
/* CSS Document */

#contenedor {
	position:absolute;
	width:1200px;
	height:800px;
	z-index:1;
	left: 0px;
	top: 0px;
}
#boton1 {
	position:absolute;
	width:277px;
	height:116px;
	z-index:2;
	top: 190px;
	left: 43px;
}
#boton2 {
	position:absolute;
	width:277px;
	height:121px;
	z-index:2;
	top: 306px;
	left: 43px;
}
#boton3 {
	position:absolute;
	width:277px;
	height:97px;
	z-index:2;
	top: 427px;
	left: 43px;
}
#boton4 {
	position:absolute;
	width:277px;
	height:88px;
	z-index:2;
	top: 627px;
	left: 43px;
}
#boton5 {                  
	position:absolute;
	width:277px;
	height:103px;
	z-index:2;
	top: 524px;
	left: 43px;
}
#caja {
	position:absolute;
	width:600px;
	height:619px;
	z-index:2;
	top: 147px;
	left: 538px;
	opacity: 0.9;
	background-color: #000000;
}
#caja2 {
	position:absolute;
	width:600px;
	height:619px;
	z-index:3;
	top: 147px;
	left: 538px;
	overflow: auto;
	}
#cajita {
	position:absolute;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom:10;
	height: 596px;
	}
	
	
.estilocaja {
	font-family:"Courier New", Courier, monospace;
	font-size: 14px;
	color: #FFFFFF;
}

#cerrar {
	position:absolute;
	top:95px;
	left:546px;
	width:107;
	height:49;
	z-index:2;
}
a:link {
	color: #5F897F;
	text-decoration: none;
	font-size:14px;
	font-weight: bold;
	}
a:visited {
	text-decoration: none;
	color: #5F897F;
	font-size:14px;
	font-weight: bold;
	}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
	font-size:14px;
	font-weight: bold;
	}
a:active {
	text-decoration: none;
	color: #5F897F;
	font-size:14px;
	font-weight: bold;
	}
.links {
	font-size:14px;
	font-weight: bold;
}
#ccommons {
	position:absolute;
	width:758px;
	height:45px;
	z-index:2;
	left: 443px;
	top: 795px;
}
#cc {
	position:absolute;
	width:142px;
	height:42px;
	z-index:1;
	left: 603px;
	top: 2px;
}
#text {
	position:absolute;
	width:586px;
	height:21px;
	z-index:2;
	left: 5px;
	top: 23px;
}
.creative {
	font-size:12px;
	color:#000000;
	text-align: right;
}
#proxima {
	position: absolute;
	visibility: visible;
	width: 864px;
	z-index: 0;
	height: 572px;
	top: 219px;
	right: 26px;
}
